/* body {
    background-color: rgb(26, 25, 25);
}
h1 {
    text-align: center;
    color: white;
}
label {
    margin-bottom: 0.5rem;
    display: block;

}
input {
    display: block;
}
form {
    width: 30rem;
    margin: 3rem auto;
    background-color: rgb(255, 253, 253);
    padding: 1rem;
    border-radius:.6px;
} */